# Ignore everything
/*

# Folders
!/gradle
!/src
!/mappings

# Files
!/.gitattributes
!/.gitignore
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/HEADER
!/Jenkinsfile
!/LICENSE
!/README.md
!/settings.gradle
# Temporary
!/OpenGradle-0.0.7-SNAPSHOT.jar
!/BuildFile
